@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-grid-content-width: 1100px;
    --page-grid-padding: 24px;
}

@layer components {
    .contained-content {
        max-width: 680px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .page-grid {
        display: grid;
        grid-template-columns: [start] minmax(var(--page-grid-padding), 1fr) [center] minmax(auto, var(--page-grid-content-width)) [end] minmax(var(--page-grid-padding), 1fr);
    }
    .page-grid > * {
        grid-column: center;
    }
}

@layer utilities {
    .page-grid-breakout-full {
        grid-column: 1 / 4;
        padding: 0px var(--page-grid-padding);
    }
    .page-grid-sm {
        --page-grid-content-width: 900px;
    }
}

::selection {
    background-color: rgba(255, 97, 97, 0.15);
    color: #c31919;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: Inter, sans-serif;

    margin: 0;
    background: #000000;
    color: #fff;
    min-height: 100%;
    line-height: 1.6875;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rubik, sans-serif;
}

.gatsby-image-wrapper-constrained {
    display: block !important;
}

video {
    border-radius: 2px;
    box-shadow: 0px 4px 15px #00000017;
    margin-bottom: 24px;
}

.award {
    border-radius: 4px;
    box-shadow: 0px 13px 29px #00000045;
    opacity: 1;
    width: 150px;
    height: auto;
    padding: 0px;
    margin: 0;
    margin-top: 16px;
    overflow: hidden;
}

.gatsby-resp-iframe-wrapper {
    margin-bottom: 24px;
}

.medium-zoom-overlay {
    z-index: 8999;
    background-color: rgba(0, 0, 0, 0.51) !important;
}

.medium-zoom-image--open {
    z-index: 90000;
    object-fit: cover;
}
